.zone {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 150px;
}
.fire {
  visibility: hidden;
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border-radius: 100%;
  border: 0;
  background: none;
  outline: 0;
  transition: opacity 0.3s ease;
}

.fire:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: white;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.fire:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 43px solid white;
  position: absolute;
  top: 26.5px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.5;
}

.fire:after {
  width: 100%;
  height: 100%;
}
.fire.active {
  opacity: 1;
}

#menuTextInput {
  display: block;
  padding: 10px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 15px;
  background-color: #539C7F;
  border-color: #539C7F;
}

#menuTextInput::placeholder {
  color: #ffffff;
  opacity: .7;
}

.main {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.play {
  display: inline-block;
  margin-top: 20px;
  padding: 0.9rem 2.2rem;
  font-size: 20px;
  font-weight: 700;
  color: #06cbb7;
  background: linear-gradient(90deg, #007ce7, #014584);
  outline: none;
  border: none;
  border-radius: 25px;
}
